@font-face {
    font-family: 'Boblic';
    src: local('Boblic'), url('boblic.woff2') format('woff2'), url('boblic.woff') format('woff'), url('boblic.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
